{% extends "base/base.html" %}

{% block title %}INDEX VIEW{% endblock title %}

{% block content %}
<div class="login-container">
    {% if request.user.is_authenticated %}
        <h1>Hola Mundo Django XD</h1>
    {% else %}
        <div class="card p-4 shadow-sm">
            <h2 class="text-center mb-4">Iniciar Sesión</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-outline-success form-control">LogIn</button>
                <a href="{% url 'home:index' %}" class="btn btn-outline-warning form-control">Cancel</a>
            </form>
            <p class="text-center mt-3">
                Si no tienes una cuenta <a href="{% url 'home:signup' %}" class="btn btn-link">Regístrate Aquí</a>
            </p>
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block extra_styles %}
<style>
    body, html {
        height: 100%;
    }
    .login-container {
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock extra_styles %}
